body{
  font-family: 'Playfair Display', serif;
}
.navbar-expand-lg {
  background-color: #181618;
  border-color: #f3022e;
}
.navbar-expand-lg.navbar-brand {
  color: #dbe1e3;
}
.navbar-expand-lg .navbar-brand:hover,
.navbar-expand-lg .navbar-brand:focus {
  color: #fefdff;
}
.navbar-expand-lg .navbar-text {
  color: #dbe1e3;
}
.navbar-expand-lg .navbar-nav > li > a {
  color: #dbe1e3;
}
.navbar-expand-lg .navbar-nav > li > a:hover,
.navbar-expand-lg .navbar-nav > li > a:focus {
  color: #fefdff;
}
.navbar-expand-lg .navbar-nav > li > .dropdown-menu {
  background-color: #181618;
}
.navbar-expand-lg .navbar-nav > li > .dropdown-menu > li > a {
  color: #dbe1e3;
}
.navbar-expand-lg .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-expand-lg .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fefdff;
  background-color: #f3022e;
}
.navbar-expand-lg .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #f3022e;
}
.navbar-expand-lg .navbar-nav .open .dropdown-menu > .active > a,
.navbar-expand-lg .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-expand-lg .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fefdff;
  background-color: #f3022e;
}
.navbar-expand-lg .navbar-nav > .active > a,
.navbar-expand-lg .navbar-nav > .active > a:hover,
.navbar-expand-lg .navbar-nav > .active > a:focus {
  color: #fefdff;
  background-color: #f3022e;
}
.navbar-expand-lg .navbar-nav > .open > a,
.navbar-expand-lg .navbar-nav > .open > a:hover,
.navbar-expand-lg .navbar-nav > .open > a:focus {
  color: #fefdff;
  background-color: #f3022e;
}
.navbar-expand-lg .navbar-toggle {
  border-color: #f3022e;
}
.navbar-expand-lg .navbar-toggle:hover,
.navbar-expand-lg .navbar-toggle:focus {
  background-color: #f3022e;
}
.navbar-expand-lg .navbar-toggle .icon-bar {
  background-color: #dbe1e3;
}
.navbar-expand-lg .navbar-collapse,
.navbar-expand-lg .navbar-form {
  border-color: #dbe1e3;
}
.navbar-expand-lg .navbar-link {
  color: #dbe1e3;
}
.navbar-expand-lg .navbar-link:hover {
  color: #fefdff;
}

@media (max-width: 767px) {
  .navbar-expand-lg .navbar-nav .open .dropdown-menu > li > a {
    color: #dbe1e3;
  }
  .navbar-expand-lg .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-expand-lg .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fefdff;
  }
  .navbar-expand-lg .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-expand-lg .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-expand-lg .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fefdff;
    background-color: #f3022e;
  }
}